body {
  margin: 0;
}

.has-sidebar {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  min-width: 300px;
  background-color: #1c1f29;
  color: white;
}

.nav-item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  color: #b3b8d4;
}

.menu-icon i {
  margin-right: 10px;
}

.menu-title {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  transition: color 0.3s;
}

.sidebar-header {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: bold;
  height: 64px;
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(83, 93, 125, 0.3);
}

.sub-menu-list {
  padding-left: 20px;
}

.toggle-sub-menu-list {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0px;
  visibility: hidden;
  transform: translate(263px, 25px);
  box-sizing: border-box;
  display: block;
}

.rotate-sub-menu-icon {
  transform: rotate(90deg);
}

.screens {
  background-color: #24242f;
  color: white;
  min-height: 100%;
  flex-grow: 1;
}

/* Navbar */

.navbar {
  flex: 1;
  padding: 1rem 0 1rem 1rem;
  display: flex;
  justify-content: flex-end;
}

.navbar__search {
  flex: 1;
  position: relative;
}

.navbar__search input {
  background: transparent;
  color: #b3b8d4;
  border-color: #b3b8d4;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  width: 100%;
  outline: none;
  padding: 15px 15px;
  margin-right: 25px;
  transition: border-color 0.3s ease;
  position: relative;
  display: block;
}

.navbar__search input::placeholder {
  color: #b3b8d4;
}

.navbar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #0a71cf;
  margin: 0 30px;
}
